@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a mi Sitio</h1>
    <p>Aprende mas de GIT Y Azure Devops <a href="https://platzi.com/cursos/azure-github-devops/">Aquí</a>.</p>
</div>
